@import url("/src/css-reset/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");



.icono-fav {
  color: gold;
  font-size: 25px;
  border-color: black;
}

.icono-busqueda {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.icono-login {
  font-size: 25px;
}

.icono-call {
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.icono-home {
  color: rgb(255, 255, 255);
  font-size: 25px;
}

@media only screen and (min-width: 768px) {
  .ocultar-buscador {
    visibility: hidden;
    display: none;
  }
}

/* Paleta de colores

navy: 0008C1;
blue: 2146C7;
beige:E6CBA8;
winter:FDF0E0;

/*footer*/

.bg-footer {
  background-color: rgb(69, 68, 68);
}

@media only screen and (max-width: 768px) {
  .oculto {
    visibility: hidden;
    display: none;
  }
}
.icono-footer {
  height: 40px;
  width: 40px;
  font-size: 20px;
  color: #edf0fc;
  border-radius: 40px;
  border: 2px solid #1f1fe6;
}

.icono-header {
  height: 40px;
  width: 40px;
  font-size: 20px;
  color: #1f1fe6;
}

@media screen and (max-width: 768px) {
  .ocultar-busqueda {
    display: none;
    visibility: hidden;
  }
}

/*error 404 */

.bt-volver{
position: absolute;
top: 80%;
left: 50vw;
display: inline-flex;
align-items: center;
justify-content: center;

text-align: center;
cursor: pointer;

}

.image-e{
  background-image: url(/public/images/error.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;   
  width: 100%; 
  position: relative;
  margin: auto;
  
}